<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<div>

  ФИО: <a th:text = "${person.getFull_name()}">Value</a>
  <br/>
  Год рождения: <a th:text = "${person.getYears_of_birth()} "> Value</a>
  <br/>
  id: <a th:text = "${person.getId()} "> Value</a>
  <br/>

  <a th:href = "@{/people/{id}/edit(id = ${person.getId()})}">Изменить данные</a>
  <br/>

  <hr/>

  <a th:if="${bookList.isEmpty()}">Нет книг <hr/></a>

  <div th:if="${!bookList.isEmpty()}">
    <div th:each=" booka : ${bookList}">
      <a th:text="${booka.getName()}">book</a>
   </div>
    <hr/>
  </div>

  <form th:method = "DELETE" th:action = "@{/people/{id}(id = ${person.getId()})}">
    <input type = "submit" value = "Удалить"/>
  </form>

</div>

</body>
</html>